<div class="row">
    <div class="d-flex">
        <button class="btn btn-success ms-auto">Salon Ekle</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Salon Adı</th>
                <th scope="col">Kapasite</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Salon 1</td>
                <td>50</td>
                <td>
                    <button class="btn btn-info">
                        <span data-feather="edit"></span>
                    </button>
                    <button class="btn btn-danger">
                        <span  data-feather="trash-2"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>